<form class="form-inline form-sm" method="get">
    <input name="filterInv"
           class="form-control form-control-sm" placeholder="Инвентарный номер" aria-label="Search" value="@Model.RouteValue["FilterInv"]">
    <input name="filterName"
           class="form-control form-control-sm" placeholder="Наименование" aria-label="Search" value="@Model.RouteValue["FilterName"]">
    <input name="filterOffice"
           class="form-control form-control-sm" placeholder="Офис" aria-label="Search" value="@Model.RouteValue["FilterOffice"]">
    <input name="filterRegion"
           class="form-control form-control-sm" placeholder="Регион" aria-label="Search" value="@Model.RouteValue["FilterRegion"]">
    <input name="filterCat"
           class="form-control form-control-sm" placeholder="Кат" aria-label="Search" value="@Model.RouteValue["FilterCat"]">
    <input name="filterType"
           class="form-control form-control-sm" placeholder="Тип" aria-label="Search" value="@Model.RouteValue["FilterType"]">
    <button class="btn btn-outline-info btn-circle" type="submit"><i class="fas fa-search fa-2x"></i> </button>
</form>
<hr />