@model inventory_dot_core.Classes.Paging.PagingList<inventory_dot_core.Models.WealthTypes>
@using inventory_dot_core.Classes

@{
    ViewData["Title"] = "Типы МЦ";
}

<partial name="_FilterPartial" />


<p>
    <partial name="_CreateButton" />
</p>

<div class="d-flex justify-content-center">
    <table class="table table-striped w-auto">
        <thead>            
            <tr>
                <th>
                    @Html.SortableHeaderFor(model => model.WtypeName, "WtypeName")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WtypeNotes)
                </th>
                <th>
                    @Html.SortableHeaderFor(model => model.wtype_is_it, "wtype_is_it")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.WtypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WtypeNotes)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.wtype_is_it)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-outline-info btn-circle btn-sm"
                           asp-route-id="@item.WtypeId"
                           asp-route-page="@Model.PageIndex"
                           asp-route-filter="@ViewBag.Filter"
                           asp-route-sortExpression="@ViewBag.SortExpression"><i class="fas fa-pencil-alt fa-lg"></i></a> |
                        <a asp-action="Delete" class="btn btn-outline-info btn-circle btn-sm"
                           asp-route-id="@item.WtypeId"
                           asp-route-page="@Model.PageIndex"
                           asp-route-filter="@ViewBag.Filter"
                           asp-route-sortExpression="@ViewBag.SortExpression"><i class="fas fa-trash-alt fa-lg"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<nav>
    <partial name="_PagerPartial" />
</nav>
