@page
@model IndexModel
@{
    ViewData["Title"] = "Пользователи";
    //ViewData["ActivePage"] = ManageNavPages.Index;
}

<h2>Список пользователей</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Input.UserName)
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.DisplayedUser)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-area="Admin" asp-page="/Edit" asp-route-userid="@user.UserId">Права доступа</a> |
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-userid="@user.UserId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>