@model inventory_dot_core.Classes.Paging.PagingList<inventory_dot_core.Models.Region>;

@{
    ViewData["Title"] = "Регоны";
}

<partial name="_FilterPartial" />


@if (User.IsInRole("root"))
{
    <p>
        <partial name="_CreateButton" />
    </p>
}
<div class="d-flex justify-content-center">
    <table class="table table-striped w-auto">
        <thead>
            <tr>
                <th>
                    @Html.SortableHeaderFor(model => model.RegionName, "RegionName")
                </th>
                @if (User.IsInRole("root"))
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegionName)
                    </td>
                    @if (User.IsInRole("root"))
                    {
                        <td>
                            <a asp-action="Edit" class="btn btn-outline-info btn-circle btn-sm"
                               asp-route-id="@item.RegionId"
                               asp-route-page="@Model.PageIndex"
                               asp-route-filter="@ViewBag.Filter"
                               asp-route-sortExpression="@ViewBag.SortExpression"><i class="fas fa-pencil-alt fa-lg"></i></a> |
                            <a asp-action="Delete" class="btn btn-outline-info btn-circle btn-sm"
                               asp-route-id="@item.RegionId"
                               asp-route-page="@Model.PageIndex"
                               asp-route-filter="@ViewBag.Filter"
                               asp-route-sortExpression="@ViewBag.SortExpression"><i class="fas fa-trash-alt fa-lg"></i></a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>


<nav>
    <partial name="_PagerPartial" />
</nav>
