@model inventory_dot_core.Models.RelSoftwareHardware

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RelSoftwareHardware</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelshWhard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelshWhard.WhardId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelshWsoft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelshWsoft.WsoftName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RelshId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
