@model inventory_dot_core.Classes.Paging.PagingList<inventory_dot_core.Models.RelSoftwareHardware>
@using inventory_dot_core.Classes;

@{
    ViewData["Title"] = $"Информация: {ViewBag.HardwareName}";
}

<h1>Информация: @ViewBag.HardwareName</h1>

<p>
    <a asp-action="Create" class="btn btn-mdb-color btn-sm"
       asp-route-hardware_id="@ViewBag.HardwareId"
       asp-route-page="@Model.PageIndex"
       asp-route-filter="@ViewBag.Filter"
       asp-route-sortExpression="@ViewBag.SortExpression">
        Добавить программное обеспечение
    </a> |
    <a class="btn btn-mdb-color btn-sm"
       asp-route-filterOffice="@ViewBag.FilterOffice"
       asp-route-filterInv="@ViewBag.FilterInv"
       asp-route-filterRegion="@ViewBag.FilterRegion"
       asp-route-filterName="@ViewBag.FilterName"
       asp-route-filterCat="@ViewBag.FilterCat"
       asp-route-filterType="@ViewBag.FilterType"
       asp-controller="WealthHardwares"
       asp-action="Index"
       asp-route-filter="@ViewBag.HardFilter"
       asp-route-sortExpression="@ViewBag.HardSortExpression"
       asp-route-page="@ViewBag.HardPage">
        Назад
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RelshWhard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RelshWsoft)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RelshWhard.WhardId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RelshWsoft.WsoftName)
                </td>
                <td>
                    <a asp-action="Delete" class="btn btn-mdb-color btn-sm"
                       asp-route-employee_id="@ViewBag.HardwareId"
                       asp-route-id="@item.RelshId"
                       asp-route-page="@Model.PageIndex"
                       asp-route-filter="@ViewBag.Filter"
                       asp-route-sortExpression="@ViewBag.SortExpression">@Dictionary.frasesDictionary["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav>
    <partial name="_PagerPartial" />
</nav>
