@using inventory_dot_core.Classes
@model inventory_dot_core.Classes.Paging.PagingList<inventory_dot_core.Models.WealthHardware>

@{
    ViewData["Title"] = "Оборудование";
}

    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <partial name="_FilterPartial" />
    </nav>

<h1>Оборудование</h1>

<p>
    <partial name="_CreateButton" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WhardInumber)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.WhardName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhardOffice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhardRegion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhardWcat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhardWtype)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WhardInumber)
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.WhardName)
                </td>               
                <td>
                    @Html.DisplayFor(modelItem => item.WhardOffice.OfficeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhardRegion.RegionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhardWcat.Wcatname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhardWtype.WtypeName)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-outline-primary btn-sm"
                       asp-route-id="@item.WhardId"
                       asp-route-page="@Model.PageIndex"
                       asp-route-filter="@ViewBag.Filter"
                       asp-route-sortExpression="@ViewBag.SortExpression">@Dictionary.frasesDictionary["Edit"]</a> |
                    <a asp-action="Delete" class="btn btn-outline-primary btn-sm"
                       asp-route-id="@item.WhardId"
                       asp-route-page="@Model.PageIndex"
                       asp-route-filter="@ViewBag.Filter"
                       asp-route-sortExpression="@ViewBag.SortExpression">@Dictionary.frasesDictionary["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav>
    <partial name="_PagerPartial" />
</nav>
